<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../css/mui.min.css">
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">账号信息</h1>
		    <a class="mui-icon mui-icon-plusempty mui-pull-right" id="addAccount"></a>
		</header>
		<div class="mui-content"></div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript">
		//启用双击监听
		mui.init({
			gestureConfig:{
				doubletap:true
			},
			subpages:[{
				url:'account-list.html',
				id:'account-list.html',
				styles:{
					top: '45px',
					bottom: '0px',
				}
			}]
		});
		mui.plusReady(function(){
			document.getElementById("addAccount").addEventListener("tap",function(event){
				mui.openWindow({
			    		url:"account-detail.html",
			    		id:"account-detail.html",
			    		show:{
				      autoShow:true,//页面loaded事件发生后自动显示，默认为true
				      aniShow:"none"//页面显示动画，默认为”slide-in-right“；
				    },
			    		 waiting:{
				      autoShow:false//自动显示等待框，默认为true
				    }
	  			});
			});
		});
		
		
	</script>

</html>