<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>
	<body>
	  <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
		<div class="mui-scroll">
			<!--数据列表-->
			<ul class="mui-table-view" style="font-size:10px;" id="mui-content">
			  
			</ul>
			<script type="text/html" id="account-list">
				{{each accountList as account}}
				 <li class="mui-table-view-cell" id={{account.id}}>
				  	<a href="javascript:;" class="mui-navigate-right" >
			            <div class="mui-table">
			                <div class="mui-table-cell">
			                    <h5>名称：<span style="color:#007aff;font-size: 16px;margin-left: 5px;">{{account.name}}</span></h5>
			                    <h5>账号：<span style="color:#007aff;font-size: 16px;margin-left: 5px;">{{account.accountNo}}</span></h5>
			                    <h5>密码：<span style="color:#007aff;font-size: 16px;margin-left: 5px;">{{account.pwd}}</span></h5>
			                </div>
			            </div>
			           </a> 
		        		</li>
				 {{/each}} 
			</script>
		</div>
	 </div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.1.1.6.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/template.js"></script>
		<script type="text/javascript">
			var pwd;
			var hasMore=true,page=1;
			(function($){
				$.init({
					pullRefresh: {
						container: '#pullrefresh',
						up: {
					      	contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
					      	contentnomore:'没有更多数据了',
							callback: pullupRefreshUp
						},
						down:{
							contentdown : "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
					      	contentover : "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
					     	contentrefresh : "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
					      	callback:pulldownRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
						}
					}
				});
				$.plusReady(function(){
//					var self = plus.webview.currentWebview();
//					pwd = self.pwd;
					pwd = plus.storage.getItem("accountPwd");
					plus.storage.removeItem("accountPwd");
					initList();
					mui.preload({
					    url:'account-view.html',
					    id:'account-view.html'
					});
				});
			})(mui);
			
			function initList(){
				var data = {"pwd":pwd,"page":page};
				postNoDialog("/app/user/accountList.json",plus,data,
					function(data){
						var html = template("account-list",data);
						$("#mui-content").append(html)
						if(data.page==data.totalPage){
							hasMore = false;
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);//参数为true说明没有更多数据
							mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
						}else{
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
							page++;
						}
				});
			};
			
			function pullupRefreshUp(){
				if(hasMore){
					initList();
				}
			};
			
			function pulldownRefresh(){
				page=1;
				var data = {"pwd":pwd,"page":page};
				postNoDialog("/app/user/accountList.json",plus,data,
					function(data){
						var html = template("account-list",data);
						document.getElementById("mui-content").innerHTML = html
						mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
						if(data.page==data.totalPage){
							hasMore = false;
						}else{
							page++;
							hasMore = true;
							mui('#pullrefresh').pullRefresh().enablePullupToRefresh();
						}
				});
			};
			
			window.addEventListener("backRefresh",function(event){
				pulldownRefresh();
			});
1			
			var detailPage = null;
			//添加列表项的点击事件
			mui('.mui-scroll').on('tap', '.mui-table-view-cell', function(e) {
			  var id = this.getAttribute('id');
			  //获得详情页面
			  if(!detailPage){
			    detailPage = plus.webview.getWebviewById('account-view.html');
			  }
			  //触发详情页面的newsId事件
			  mui.fire(detailPage,'accountViewId',{
			    id:id
			  });
			//打开详情页面          
			  mui.openWindow({
			    id:"account-view.html"
			  });
			});  
		</script>
	</body>

</html>