<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">账号信息</h1>
		    <a class="mui-icon mui-icon-plusempty mui-pull-right" id="open"></a>
		</header>
	  <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
		<div class="mui-scroll">
			<!--数据列表-->
			<ul class="mui-table-view mui-table-view-chevron" style="font-size:14px;" id="mui-content">
			  
			</ul>
			<script type="text/html" id="account-list">
				{{each accountList as account}}
				  <li class="mui-table-view-cell mui-media">
					<a href="javascript:;" class="mui-navigate-right">
						<div>
							<span style="color:  #007aff">{{account.name}}</span>&nbsp;&nbsp;
							<span style="color:  #007aff">{{account.accountNo}}</span>&nbsp;&nbsp;
							<span style="color:  #007aff">{{account.pwd}}</span>
						</div>
					</a>
				  </li>
				 {{/each}} 
			</script>
		</div>
	 </div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/template.js"></script>
		<script type="text/javascript">
			(function($){
				$.init();
				$.plusReady(function(){
					var self = plus.webview.currentWebview();
					var pwd = self.pwd;
					var data = {"pwd":pwd};
					postNoDialog("/app/user/accountList.json",plus,data,
						function(data){
							var html = template("account-list",data);
							document.getElementById("mui-content").innerHTML = html;
						});
				});
			})(mui);
		</script>
	</body>

</html>