<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">添加文件夹</h1>
		</header>
		<div class="mui-content">
			
			<div class="mui-content-padded" style="margin: 5px;">
				<img class="mui-media-object" src="../../images/media.png" style="display:block; margin:0 auto;">	
				<div class="mui-input-group">
					<div class="mui-input-row">
						<label>文件夹名</label>
						<input id="name" type="text" class="mui-input-clear" placeholder="填写文件夹名称">
					</div>
				</div>
				<div class="mui-input-row" style="margin: 10px 5px;">
					<textarea id="memo" rows="5" placeholder="文件夹描述"></textarea>
				</div>
				<div class="mui-button-row">
						<button type="button" class="mui-btn mui-btn-primary" id="addAccount">保存</button>&nbsp;&nbsp;
						<button type="button" class="mui-btn mui-btn-danger" id="cancel">取消</button>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/common.js"></script>
		<script type="text/javascript">
			(function($){
				$.init();
				$.plusReady(function(){
					document.getElementById("addAccount").addEventListener("tap",function(event){
						var name = document.getElementById("name").value;
						var memo = document.getElementById("memo").value;
						if(name=="" || name==null){
							$.toast("填写文件夹名称");
							return;
						}
						var wd = plus.nativeUI.showWaiting();
						var data = {"name":name,"desc":memo};
						postRequest("/app/media/addMediaGroup.json",plus,data,function(data){
							wd.close();
							if(data.errCode=="0"){
								$.toast("保存成功");
								$.fire(plus.webview.getWebviewById("media.html"), 'refreshMeidaList');
								$.back();
							}else {
								$.toast(data.errMess);
							}
						},wd);
					});
					
					document.getElementById("cancel").addEventListener("tap",function(e){
						$.back();
					});
				});
			})(mui);
		</script>
	</body>

</html>